<div class="container">
    <h2>Edytuj nowego klienta</h2>
    <br>
    <form action="/edit/{{this._id}}" method="POST">
        <label for="fullName">Pełna Nazwa Firmy</label>
        <input type="text" name="fullName" id="fullName" value="{{this.fullName}}" required>
        <br>
        <label for="street">Ulica</label>
        <input type="text" name="street" id="street" value="{{this.address.street}}" required>
        <br>
        <label for="postCode">Kod pocztowy</label>
        <input type="text" name="postCode" id="postCode" value="{{this.address.postCode}}" required>
        <br>
        <label for="city">Miejscowość</label>
        <input type="text" name="city" id="city" value="{{this.address.city}}" required>
        <br>
        <label for="phoneNumber">Numer telefonu</label>
        <input type="text" name="phoneNumber" id="phoneNumber" value="{{this.phoneNumber}}" required>
        <br>
        <label for="nip">NIP</label>
        <input type="text" name="nip" id="nip" value="{{this.nip}}" required>

        <button>Zapisz Dane</button>
    </form>
</div>