<div class="container">
    <h2>Lista zarejestrowanych klientów</h2>

    <table border="1">
        <thead>
            <tr>
                <th>Kolejność klientów[#]:</th>
                <th>Nazwa[firma]:</th>
                
            </tr>
        </thead>
        <tbody>
            {{#each customers}}
            <tr>
                <td>{{ plusOne @index}}</td>
                <br>
                <td>{{this.fullName}}</td>
                <br>
                <td>
                    <a class="btn btn-primary" href="/{{this._id}}">Szczegóły</a>
                    <a class="btn btn-secondary" href="/edit/{{this._id}}">Edytuj</a>
                    <a class="btn btn-danger" href="/delete/{{this._id}}" >Usuń</a>
                </td>
            </tr>
            {{/each}} 
        </tbody>
    </table>
    <a href="/add" class="btn btn-primary">Dodaj klienta</a>

</div>