<div class="container4">
    <h4>Zalagowany jest klient:{{this.loggedCustomer._id}}</h4>

    <ul>
        <p><b>Dane Klienta:</b></p>
        <br>
        <li><b>{{this.fullName}}</b></li>
        <br>
        <li><b>{{this.address.street}}</b></li>
        <br>
        <li><b>{{this.address.postCode}}</b></li>
        <br>
        <li><b>{{this.address.city}}</b></li>
        <br>
        <li><b>{{this.nip}}</b></li>
        <br>
        <li><b>{{this.phoneNumber}}</b></li>
    </ul>

    {{#if actions}}
    <ul>
        {{#each customers}}
        <li>
            <b>{{this.date}}</b>
            <br>
            <b>{{this.type}}</b>
            <br>
            <b>{{this.description}}</b>
        </li>
        {{/each}}
    </ul>
    {{else}}
    <p>Brak przypisanych działań</p>
    {{/if}}
    
    <a href="/edit/{{this._id}}" class="btn btn-primary">Edytuj</a>
    <a href="/delete/{{this._id}}" class="btn btn-danger">Usuń</a>
    <a href="{{this._id}}/addAction" class="btn btn-primary">Przypisz akcje/działanie</a>
</div>