<div class="container4">
    <h4>{{this.loggedCustomer}}</h4>

    <ul>
        <p><b>Dane Klienta:</b></p>
        <br>
        <li><b>{{this.fulName}}</b></li>
        <br>
        <li><b>{{this.address.street}}</b></li>
        <br>
        <li><b>{{this.address.postCode}}</b></li>
        <br>
        <li><b>{{this.address.city}}</b></li>
        <br>
        <li><b>{{this.nip}}</b></li>
        <br>
        <li><b>{{this.phoneNumber}}</b></li>
    </ul>

    {{#if }}
    <ul>
        {{#each}}
        <li>
            <b></b>
            <br>
            <b></b>
            <br>
            <b></b>
            <br>
            <b></b>
            <br>
            <b></b>
        </li>
        {{/each}}
    </ul>
    {{else}}
    <p>Brak przypisanych działań</p>
    {{/if}}

    <a href="/" class="btn btn-primary">Dodaj akcje</a>
</div>